/.vscode
/build
/release
/Formula_1_windows.zip
/Formula_1_html.zip
/Formula_1_linux
/Formula_1_linux.zip
/Formula_1_mac
/Formula_1_mac.zip
/Formula_1_windows.disk
/Formula_1_windows.exe
/formula-1-windows.tar.gz
/formula-1.wasm
/formula-1-cart.tar.gz
/formula-1-html.tar.gz
/formula-1-linux.tar.gz
/formula-1-mac.tar.gz
